{%extends 'base.html'%}

{% block title %}
Application Musiques
{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
{% endblock %}

{%block content%}

<div class="center">
	<form method="post" novalidate class="card">
		{%csrf_token %}
		<h2>{% if artiste %} Mise à jour {%else %} Création {%endif%} d'un artiste</h2>
		{% for field in form %}
			{% if field.name == 'completed' %}
				<p>
					{{ field.label_tag }}
					{{ field }}
				</p>
				{% if field.errors %}
					<small class="error">{{ field.errors|striptags  }}</small> 
				{% endif %}
			{% else %}
				{{ field.label_tag }} 
				{{ field }}
				{% if field.errors %}
					<small class="error">{{ field.errors|striptags  }}</small> 
				{% endif %}
			{% endif %}
		{% endfor %}
		
		<div class="form-buttons">
			<input type="submit" value="Sauvegarder" class="btn btn-primary"/>
			<a href="{%url 'artistes'%}" class="btn btn-outline">Annuler</a>
		</div>
	</form>
</div>

{%endblock content%}
